*.db
source/Library.Desktop/obj/
source/UnitTest.Library.Desktop/bin/
source/UnitTest.Library.Desktop/obj/
source/Game.Desktop.OpenGL/obj/
source/Game.Desktop.DirectX/obj/
source/Game.Desktop.OpenGL/bin/
source/Game.Desktop.DirectX/bin/
*.opendb
build/ipch/
source/Game.Desktop.OpenGL/html/
source/Library.Desktop/html/
source/Game.Desktop.DirectX/html/
